@charset "utf-8";

body{
    padding-bottom: 0;
    margin: 0 auto;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../images/background.jpg);
}

main{
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
}

nav{
    display: flex;
    border: 3px solid rgb(0, 0, 0);
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(255, 255, 255);
    color: white;
}

nav ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
ul{
    margin: 0 auto;
    margin: 20px 10%;
}
footer{
    width: 100%;
}
header img{
    width: 100%;
    height: 600px;
}

.Imgcategorias{
    width: auto;
    height: 550px;
    margin: 5px;
}
.categoria{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produtos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produtos img{
    width: 300px;
    height: 350px;
    margin: 8px;
}
@media screen  and (max-width: 768px){
    .Imgcategorias{
        width: auto;
        height: 300px;
        margin: 2px;
    }
    .produtos img{
        width: auto;
        height: 300px;
        margin: 8px;
    }
}
@media screen  and (max-width: 320px){
    .Imgcategorias{
        width: auto;
        height: 550px;
        margin: 2px;
    }
    
}